
<h2><p class="name"><%= @pet.name %></p></h2>
<ul>
  <li> <%= @pet.species %> </li>
  <li> <%= @pet.color %> </li>
  <li> <%= @pet.age %> </li>
</ul>

<form action="" method="post">
  <input type="submit" value="Adopt">
</form>

<form action="/" method="post">
  <input type="submit" value="Add to watch list">
</form>
