<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/cc076eee79.js"></script>
  <script src="/js/application.js"></script>
  <title>Adopt</title>
</head>
<body>
  <header>
    <nav>
      <h1><a class="header-title" href="/pets">AdoptUs</a></h1>
      <ul class="nav">
        <% if session[:user_id] == nil %>
          <li><a class="button" href="/sessions/new">login</a></li>
          <li><a class="button" href="/users/new">register</a></li>
        <% end %>
        <% if session[:user_id] %>
          <li>
            <a class="username" href="/users/<%= session[:user_id] %>">welcome back, <%= User.find(session[:user_id]).username %></a>
          </li>
          <li><form class="logout" action="/sessions" method="post">
            <input type="hidden" name="_method" value="delete">
            <input class="button" type="submit" value="logout">
            </form>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
  <%= yield %>
  <footer></footer>
</body>
</html>
